<settings>
    <profiles>
        <profile>
            <id>zeed</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!-- place repo xml here -->
            <repositories>
                <repository>
                    <id>zeed</id>
                    <name>zeed</name>
                    <url>http://localhost:8085/repository/zeed/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>zeed</id>
                    <name>zeed</name>
                    <url>http://localhost:8085/repository/zeed/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <!-- place authentication xml here -->
    <servers>
        <server>
            <id>zeed</id>
            <username>admin</username>
            <password>Password1</password>
        </server>
    </servers>
</settings>